<header-component></header-component>
<div class="page-center">
  <div [hidden]="tokenModel.isAuth">
    <div><h2>Sign-In</h2></div>

  <div *ngIf="!tokenModel.isAuth&&requestDone" class="error">
      <label>{{tokenModel.executionResultMessage}}</label>
    </div>

    <div class="form-group">
      <label>E-mail</label><br>
      <input class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
    </div>

    <div class="form-group">
      <label>Password</label>
      <label class="forgot" routerLink="/forgot-pass">Forgot your password ?</label><br>
      <input class="form-control" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required/>
    </div>
    
    <div>
      <label>Rebember me ?</label>
      <input type="checkbox" [(ngModel)]="model.IsPersistent">
    </div>

    <div>
      <button class="sign-in" [disabled]="email.invalid || password.invalid" (click)="signIn(model)">
        Sign-In
      </button><br>
    </div>

    <div>
    <label>New to Book Publishing Company?</label><br>
    <button class="sign-up" routerLink="/sign-up">Sign-Up</button>
    </div>
  </div>
  <div [hidden]="!tokenModel.isAuth" class="choose-currency">
    <label>Choose your currency</label><br>
    <select [(ngModel)]="currency" (ngModelChange)="chooseCurrency(currency)">
      <option *ngFor="let item of currencySelection" [ngValue]="item">{{item | currencyselect}}</option>
  </select><br>
  </div>
</div>
      