input.ng-touched.ng-invalid {
    border:solid red 2px;
}
input.ng-touched.ng-valid {
    border:solid green 2px;
}
.page-center { 
    background-color: rgb(255, 255, 255);  
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    
     font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
}
.form-control{
    border-style: groove;
    width: 300px;
}
.forgot{
    float: right;
    color: cornflowerblue;
}
.sign-in{
    color: floralwhite;
    background-color: darkseagreen;
    float: right;
}
.sign-up{
    position: relative;
    margin-left: 35%;  
}
.error{
    left: 50px;
    color: rgb(170, 8, 8);
}
.choose-currency{
    label{
        font-size: 35px;
    }
    select{
        width: 300px;
        font-size: 35px;
        border: solid black;
    }
}