.cart-page{
    font-family: Comic Sans MS, Comic Sans, cursive;
    h1{
        position: relative;
        text-align: center;
    }
    table{
        border-color: rgb(0, 0, 0);
        border-style: solid;
        width: 100%;
        white-space: pre;
        img{
            width: 15px;
        }
        td{
            padding: 10px 40px;
        }
    }
    .total-block{
        position: relative;
        text-align: right;
    }
    .total-price{
        color: rgb(40, 148, 36);
        font-weight: bold;
    }
    .buttons-block{
        button{
            width: 33%;
            font-weight: bold;
        }
        .buy-now{
            background-color: rgb(133, 189, 107);
        }
    }
}