<div class="cart-page">
    <h1>Checkout</h1>
    <div class="cart-table">
        <table>
            <tr><th>Product</th><th>Unit price</th><th>Qty</th><th>Order amount</th><th>remove</th> </tr>
            <tr *ngFor="let item of list">
                <td>{{item.title}}</td>
                <td>{{item.price | number:'1.2-2' | customcurrency : item.currency }}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price*item.quantity | number:'1.2-2' | customcurrency : item.currency}}</td>
                <td><img (click)="remove(item)" src="assets/img/remove_red-icon.jpg"></td>
            </tr>
        </table>
    </div>
    <div class="total-block">
        <label class="total-price">TOTAL PRISE {{total | number:'1.2-2' | customcurrency : currency}} </label>
    </div>
    <div class="buttons-block">
        <button class="cancel" (click)="close()">Cancel</button>
        <button class="save" (click)="saveOrder()">Save to orders</button>
        <button class="buy-now" (click)="payOrder()">Buy Now</button>
    </div>
</div>
