input.ng-touched.ng-invalid {
    border:solid red 2px;
}
input.ng-touched.ng-valid {
    border:solid green 2px;
}
.page-center { 
    background-color: rgb(255, 255, 255);  
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    
     font-family: Comic Sans MS, Comic Sans, cursive;
}
.button-continue{
    color: rgb(0, 0, 0);
    background-color: rgb(124, 158, 117);
    position: relative;
    margin-left: 35%;  
}
.form{
    font-weight: bolder;
}
.user-not-found{
    border: solid;
    border-color: brown;
}