<header-component></header-component>
<div class="page-center">
    <h2>Password assistance</h2><br>
    <div *ngIf="!isExistingUser&&requestDone" class="user-not-found">
        <label>There was a problem</label><br>
        <label>
            We're sorry. We weren't able to identify you<br>
            given the information provided
        </label>
    </div>

    <div [hidden]="isExistingUser">
            <div>
                    <label>Enter the email address associated with your account.</label><br>
                <div class="form">
                    <label>E-mail</label><br>
                    <input name="mail" [(ngModel)]="email" #mail="ngModel" required/>
                </div>  
            </div>
            <div>
                    <button class="button-continue" [disabled]="mail.invalid" (click)="forgotPass(email)">Continue</button><br>
                </div>
    </div>
    <div *ngIf="isExistingUser">
        <div>
                You will receive an e-mail a new password to login onto your e-mail box<br>
                stated in your Personal Profile.<br><br>
        
                Please contact our administrator if you receive an email message with<br>
                a new password.
        </div>
        <div>
            <button class="button-continue" routerLink="/sign-in">Continue</button><br> 
        </div>
    </div>
</div>