input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}
.page-center {
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: rgb(255, 255, 255);  
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
  }
  h2{
      color: limegreen;
  }
  label{
      font-weight: 500;
      font-size: 20px;
  }
  input{
      margin: 5px 0 5px 0 ; 
      border: solid black;
      height: 20px;
      width: 250px;
  }
  form{
      text-align: center;
      button{
          border-style: dotted;
          border-color: rgb(117, 179, 52);
          background-color: rgb(177, 177, 177);
          color: white;
          height: 30px;
          margin: 10px 0px 0px 0px;
      }
  }
  .false{
    color: rgb(182, 0, 0);
  }
  .response{
      label{
          color: rgb(72, 99, 173);
          text-decoration: underline;
      }
      .true{
        color: rgb(72, 173, 89);
        text-decoration: none;
      }
  }