<header-component></header-component>
<div class="page-center">
  <div *ngIf="!isSignUp">
      <h2>Create account</h2>
      <label>Your First name</label><br>
      <input  name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required/><br>
      <label>Your Last name </label><br>
      <input  name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required/><br>
      <label>E-mail</label><br>
      <input  name="email" [(ngModel)]="model.email" #email="ngModel" required/><br>
      <label>Password</label><br>
      <input  name="pass" type="password" [(ngModel)]="model.password" #pass="ngModel" required/><br>
      <label>Confirm password</label><br>
      <input   name="confirmPass" type="password" [(ngModel)]="confirm"  #pass="ngModel" required/><br>
      <p>Password must be contain: [0-9],[A-Z],[a-z] and characters</p>
      <label *ngIf="!isSignUp" class="false">{{response}}</label><br>
    <form>
      <button [disabled]="email.invalid || pass.invalid || lastName.invalid || firstName.invalid" (click)="signUp(model)">Sign-Up your account</button>
    </form>
  </div>
  <div *ngIf="isSignUp" class="response">
    <label class="true">{{response}}</label><br>
    <label routerLink="/sign-in">Please, Sign-In!</label>
  </div>
  
  </div>