<header-component>
</header-component>
    <div class="page">
        <div class="content">
            <h2>Product managment</h2><img (click)="openPrint(null)" class="add" src="assets/img/add_icon.png">
            <table>
                <tr class="t-header">
                    <th class="id">ID
                        <img (click)="printEditionRequest.printSorting=0" (click)="getPrintEditions(printEditionRequest)" src="assets/img/sorting_icon.png"></th>
                    <th class="name">Name
                        <img (click)="printEditionRequest.printSorting=1" (click)="getPrintEditions(printEditionRequest)" src="assets/img/sorting_icon.png"></th>
                    <th class="description">Description</th>
                    <th  class="category">Category
                        <select [(ngModel)]="printEditionRequest.typePrintEdit" (ngModelChange)="getPrintEditions(printEditionRequest)">
                            <option *ngFor="let sortingOption of sortingOptions" [ngValue]=sortingOption>{{sortingOption | category}}</option>
                        </select>
                    </th>
                    <th class="author">Author</th>
                    <th class="price">Price
                        <img (click)="printEditionRequest.printSorting=2" (click)="getPrintEditions(printEditionRequest)" src="assets/img/sorting_icon.png"></th>
                    <th class="icons">___</th>
                </tr>
                <tr *ngFor="let item of printEditionList">
                    <td>{{item.id}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.typePrintEdit | category}}</td><td>{{item.authorName}}</td>
                    <td>{{item.price | number:'1.2-2' | customcurrency : item.currency}}</td>                    
                    <td>
                        <img (click)="openPrint(item.id)" src="assets/img/edit_icon.png">
                        <img (click)="remove(item.id)" src="assets/img/close_icon.png">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="pagination">
        <label *ngFor="let page of pages" (click)="pagination(page)"> {{page}} -</label><br>
    </div>