.page{
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 100%;
    height: 100%;
}
.content{
    margin: 100px 100px 0px 100px;
    height: auto;
    h2{
        margin: 0px 0px 30px 0px;
    }
    .add{
        position: absolute;
        right: 80px;
        top: 220px;
        height: 35px;
    }
    table tr:nth-child(even){
        background-color: rgb(238, 238, 238);
    }
    table{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: auto;
        border: solid rgb(0, 0, 0);
        td{
            padding: 0px 5px;
        }
        .t-header{
            background-color: rgb(216, 216, 216);
            img{
                float: right;
                width: 20px;
                height: 20px;
            }
        }
        tr{
            align-items: center;
            td{
                text-align-last: center;
            }
        }
        img{
            width: 20px;
            height: 20px;
            margin: 0px 10px 0px 0px;
        }
        .price{
            width: 7%;
        }
        .category{
            width: 6%;
        }
    }
}
.pagination{
    margin: 10px 10px 0 0;
    position: absolute;
    top: auto;
    right: 100px;
    border: solid rgb(163, 163, 163);
    label:hover{
        color: rgb(0, 168, 14);
    }
}