input.ng-touched.ng-invalid {border:solid red 2px;}
select.ng-touched.ng-invalid {border:solid red 2px;}
label.ng-touched.ng-invalid {border:solid red 2px;}
textarea.ng-touched.ng-invalid {border:solid red 2px;}
.page{
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 100%;
    height: 100%;
}
.content{
    width: 800px;
    height: auto;
    border: solid black;
}
h2{
    text-align: center;
}
.top{
    width: 100%;
    height: 100px;
    img{
        float: right;
        height: 100px;
    }
    textarea{
        position: relative;
        left: 80px;
        width: 300px;
        white-space: normal;
        height: 80px;
        margin: 10px;
    }
}
.buttom{
    height: auto;
    width: 100%;
    .left-block{
        width: 60%;
        height: 200px;
        float: left;
        textarea{
            position: relative;
            left: 30px;
            width: 300px;
            height: 140px;
            margin: 10px;
            width: inherit;
            height: inherit;
            white-space: normal;
        }
    }
    .right-block{
        width: 40%;
        height: 200px;
        float: right;
        .category{
            margin: 0 0 0 20px;
            width: 120px;
        }
        .author{
            margin: 0 0 0 34px;
            width: 120px;
        }
        .price{
            margin: 0 0 0 50px;
            width: 50px;
        }
    }
    form{
        text-align: center;
        button{
            margin: 30px;
        }

    }
}