<div class="page">
    <div class="content">
        <h2>{{titleText}}</h2>
        <div class="top">
            <label>Title</label>
            <textarea [(ngModel)]="printEdition.title" #title="ngModel" required>{{printEdition.title}}</textarea>
            <img src="assets/img/image_icon.jpg">
        </div>
        <div class="buttom">
            <div class="left-block">
                <label>Description</label>
                <textarea [(ngModel)]="printEdition.description" maxlength="1000" wrap="soft" #description="ngModel" required>{{printEdition.description}}</textarea>
            </div>
            <div class="right-block">
                <label>Category:</label>
                <select class="category" [(ngModel)]="printEdition.typePrintEdit" #typePrintEdit="ngModel" required>
                    <option *ngFor="let category of categorySelection" [ngValue]=category >{{category | category}}</option>
                </select><br>
                <label>Author:</label>
                <select class="author" [(ngModel)]="printEdition.authorId" #authorId="ngModel" required>
                    <option *ngFor="let author of authors" [value]="author.id" selected>{{author.name}}</option>
                </select><br>
                <label>Price:</label><input class="price" type="number" min="0" [(ngModel)]="printEdition.price" #price="ngModel" required><label> in USD</label><br>
            </div>
            <button (click)="close()">Cancel</button>   
            <button [hidden]="isNewPrint" (click)="editPrintEdition(printEdition)">Save</button> 
            <button [disabled]="title.invalid || description.invalid || typePrintEdit.invalid || authorId.invalid || price.invalid" [hidden]="!isNewPrint" 
            (click)="addPrintEdition(printEdition)">Add new</button>
        </div>
    </div>
</div>