.page{
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.content{
    width: 30%;
    height: 700px;
    padding: 50px;
}
.profile-icon{
    float: left;
    width: 50%;
    height: auto;
    img{
        width: 75px;
        padding: 15px;
    }
    label{
        font-weight: 700;
        padding: 15px;
        font-size: 18px;
    }
}
.edit_icon{
    float: right;
    width: 50%;
    height: auto;
    img{
        width: 25px;
        height: 25px;
        float: right;
    }
}
.input-fields{
    float: left;
    width: 100%;
    height: auto;
    input{
        width: 100%;
        border: solid black ;
        height: 20px;
    }
    .prevention{
        color: rgb(175, 175, 175);  
        float: right;
    }
    .response{
        font-weight: 200;
        color: rgb(57, 60, 255);
    }
    form{
        button{
            background: rgb(255, 255, 255) none;
            border: solid rgb(0, 0, 0);
        }
        .cancel{
            margin: 0px 0px 0px 50px;
            background-color: rgb(214, 214, 214);
        }

    }
}