<header-component></header-component>
<div class="page">
    <div class="content">
        <div class="profile-icon">
                <label>My Profile</label><br>
                <img src="assets/img/not_log-in_icon.png">
            </div>
            <div class="edit_icon">
                <img (click)="isHidden=false" src="assets/img/edit_icon.png">
            </div>
                <div class="input-fields">
                    <label>Your First name</label><br>
                    <input [(ngModel)]="userModel.firstName"><br>
                    <label>Your Last name</label><br>
                    <input [(ngModel)]="userModel.lastName"><br>
                    <label>E-mail</label><br>
                    <input [(ngModel)]="userModel.email"><br>
                <div [hidden]="isHidden">
                        <label>Password</label><br>
                        <input type="text" type="password" [(ngModel)]="userModel.password"><br>
                        <label class="prevention" >Passwords must be at least 6 characters and must be contain: [0-9],[A-Z],[a-z] and characters</label><br>
                        <label>Confirm password</label><br>
                        <input type="text" type="password" [(ngModel)]="userModel.confirmPassword"><br>
                        <label class="prevention" >Passwords should be the same</label><br>
                        <form>
                            <button (click)="editProfile(userModel)">Save</button><button class="cancel" (click)="isHidden=true">Cancel</button>
                        </form><br>
                        <label class="response">{{userModel.executionResultMessage}}</label>
                </div>
        </div>
    </div>
</div>