<header-component>
    </header-component>
    <div class="page">
        <div class="content">
            <h2>Users managment</h2><img (click)="openUser(null)" class="add" src="assets/img/add_icon.png">
            <table>
                <tr class="t-header">
                    <th class="user">User name
                        <img (click)="requestModel.userSorting=1" (click)="getUsers(requestModel)" src="assets/img/sorting_icon.png">
                    </th>
                    <th class="email">User email
                        <img (click)="requestModel.userSorting=2" (click)="getUsers(requestModel)" src="assets/img/sorting_icon.png">
                    </th>
                    <th class="lockout">Lockout enabled</th>
                    <th class="edit">___</th>
                </tr>
                <tr *ngFor="let user of userList">
                    <td>{{user.userName}}</td>
                    <td>{{user.email}}</td>
                    <td><input type="checkbox" [(ngModel)]="user.lockout"  [checked]="user.lockout" (click)="setLockout(user.id,!user.lockout)"></td>
                    <td>
                        <img (click)="openUser(user.id)" src="assets/img/edit_icon.png">
                        <img (click)="removeUser(user.id)" src="assets/img/close_icon.png">
                    </td>
                </tr>
            </table>
        </div>
        <div class="pagination">
            <label *ngFor="let page of pages" (click)="pagination(page)"> {{page}} -</label><br>
        </div>
    </div>