<div class="page">
    <h2>{{titleText}}</h2>
    <div>
        <img class="user" src="assets/img/not_log-in_icon.png">
        <img class="edit" src="assets/img/edit_icon.png">
    </div>
    <div>
        <label>First name</label><br>
        <input type="text" [(ngModel)]="userModel.firstName" #firstName="ngModel" required><br>
        <label>Last name</label><br>
        <input type="text" [(ngModel)]="userModel.lastName" #lastName="ngModel" required><br>
        <label>E-mail</label><br>
        <input type="text" [(ngModel)]="userModel.email"  #email="ngModel" required><br>
        <label [hidden]="!isCreated">Password</label><br>
        <input [hidden]="!isCreated" type="text" [(ngModel)]="userCreationModel.password" #password="ngModel" required><br>
        <label [hidden]="!isCreated">Confirm password</label><br>
        <input [hidden]="!isCreated" type="text" [(ngModel)]="userCreationModel.passwordConfirm" #passwordConfirm="ngModel" required><br>

    </div>
    <form>
        <button (click)="close()">Cancel</button>
        <button [disabled]="firstName.invalid || lastName.invalid || email.invalid" [hidden]="isCreated" (click)="editUser(userModel)">Save</button>
        <button [disabled]="firstName.invalid || lastName.invalid || email.invalid || password.invalid || passwordConfirm.invalid" 
        [hidden]="!isCreated" (click)="addUser(userCreationModel)">Add</button>
    </form>

</div>