input.ng-touched.ng-invalid {border:solid red 2px;}
.page{
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin: 50px 300px 100px 300px;
    width: 500px;
    height: auto;
}
input{
    width: 100%;
    border: solid black ;
    height: 20px;
}
label{
    font-weight: 700;
    padding: 15px;
    font-size: 18px;
}
.edit{
    width: 20px;
    height: 20px;
}
.user{
    width: 100px;
}
form{
    text-align: center;
    button{
        margin: 20px;
    }
}