<header-component>
    </header-component>
    <div class="page">
        <div class="content">
            <h2>Order managment</h2>
            <table>
                <tr class="t-header">
                    <th class="id">Order ID
                        <img (click)="requestModel.orderSorting=0" (click)="getAdminOrders(requestModel)" src="assets/img/sorting_icon.png">
                    </th>
                    <th class="order-time">Order time
                        <img (click)="requestModel.orderSorting=2" (click)="getAdminOrders(requestModel)" src="assets/img/sorting_icon.png">
                    </th>
                    <th class="payment-time">Payment time
                        <img (click)="getAdminOrders(requestModel)" src="assets/img/sorting_icon.png">
                    </th>
                    <th class="user">User name</th>
                    <th class="email">User Email</th>
                    <table>
                        <th class="product">Product</th>
                        <th class="title">Title</th>
                        <th class="quantity">quantity</th>
                    </table>
                    <th class="amount">Order amount
                        <img (click)="requestModel.orderSorting=1" (click)="getAdminOrders(requestModel)" src="assets/img/sorting_icon.png">
                    </th>
                    <th class="status">Status
                        <select [(ngModel)]="requestModel.status" (ngModelChange)="getAdminOrders(requestModel)">
                            <option [ngValue]=0>All</option>
                            <option [ngValue]=1>UnPaid</option>
                            <option [ngValue]=2>Paid</option>
                        </select>
                    </th>
                </tr>
                <tr *ngFor="let order of orderList">
                    <td>{{order.id}}</td>
                    <td>{{order.orderTime | date:'short'}}</td>
                    <td>{{order.paymentTime | date:'short'}}</td>
                    <td>{{order.userName}}</td>
                    <td>{{order.email}}</td>
                    <table>
                        <tr *ngFor="let item of order.orderItemsList">
                            <td>{{item.typePrintEdit | category}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.quantity}}</td>
                        </tr>     
                    </table>
                    <td>{{order.amount | number:'1.2-2' | customcurrency : order.currency}}</td>
                    <td>{{order.status | status}}</td>
                </tr>
            </table>
        </div>
        <div class="pagination">
            <label *ngFor="let page of pages" (click)="pagination(page)"> {{page}} -</label>
        </div>
    </div>
