<header-component></header-component>
<div class="page">
    <div class="sidebar">
            <div class="block-filtres">
                <label>Choose type print editions:</label>
                <select [(ngModel)]="requestModel.typePrintEdit" (ngModelChange)="getPrintEditions(requestModel)">
                    <option *ngFor="let sortingOption of sortingOptions" [ngValue]=sortingOption>{{sortingOption | category}}</option>
                </select>
            </div>
        <label>Price</label>
        <div class="sort-div">
            <input class="min" type="range" [min]="minPrice" [max]="requestModel.maxPrice" step="0.1" [(ngModel)]="requestModel.minPrice">
            <output>{{requestModel.minPrice | number:'1.2-2' | customcurrency : currency}}</output><br>
            <input class="max" type="range" [min]="requestModel.minPrice" [max]="maxPrice" step="0.1" [(ngModel)]="requestModel.maxPrice">
            <output>{{requestModel.maxPrice | number:'1.2-2' | customcurrency : currency}}</output><br>
            <button (click)="getPrintEditions(requestModel)" >Price filtration</button>
        </div>
    </div>
    <div class="top-line">
            <label>Sort by:</label>
            <select [(ngModel)]="requestModel.printSorting" (ngModelChange)="getPrintEditions(requestModel)">
                <option [ngValue]=0>Id</option>
                <option [ngValue]=1>Title</option>
                <option [ngValue]=2>Price</option>
            </select>
            <input class="search" [(ngModel)]="requestModel.searchByTitle" placeholder="Search by title">
            <button (click)="getPrintEditions(requestModel)" >Search</button>
            <div class="pagination" >
                <label>Page: </label>
                <label *ngFor="let page of pages" (click)="pagination(page)"> {{page}} -</label><br>
            </div>
        </div>
        <div class ="print-editions">
                <div  class="one-print" *ngFor="let print of printEditionList">
                    <div [routerLink]="['/print-edition-read', print.id]" >
                        <img class="book-icon" src="assets/img/one_print_icon.png">
                    </div>
                    <table>
                    <tr class="title-style">{{print.title}}</tr>
                    <tr>{{print.authorName}}</tr>
                    <tr class="price-style">{{ (print.price)*currencyCoeff | number:'1.2-2' | customcurrency : currency }}</tr>
        
                    </table>
        </div>
</div>