.page{
font-family: Comic Sans MS, Comic Sans, cursive;
}
.top-line{
    float: left;
    height: 50px;
    width: 80%;
    .pagination{
        float: right;
        margin: 0 20px 0 0;
        right: 100px;
        label:hover{
            color: rgb(0, 168, 14);
        }
    }
}
.sort-div{
    input:hover:placeholder-shown{
        color: blue;
    }

}
.sidebar{
    float: left;
    height: 100%;
    width: 20%;
}
.print-editions{
    float: left;
    height: auto;
    width: 80%;
    .one-print{
        position: absolute;
        height: 250px;
        width: 400px;
        border-style: solid ;
        border-color: rgb(220, 231, 218);
        position: relative;
        float: left;
        padding: 50px 50px;
        .book-icon{
            size: 10%;
            height: 150px;
            background-color: lawngreen;
        }
        .title-style{
            font-weight: 700;
            font-size: 20px;
        }
        .price-style{
            font-weight: 700;
            font-size: 20px;
            color: mediumseagreen;
        }
    }

}