<header-component ></header-component>
<div class="page">
    <div class="underheader-line">
        <label>Catalog</label>
    </div>
    <div class="content">
        <div class="top-block">
            <div class="book-icon">
                <img class="image" src="assets/img/one_print_icon.png">
            </div>
            <div class="print-title">
                <label class="font">{{printEdition.title}}</label><br>
                <label >by {{printEdition.authorName}} (Author)</label>
            </div>
            <div class="buttons">
                <div class="qty">
                    <div class="center">
                        <label>Qty:</label>
                        <select [(ngModel)]="printEdition.quantity" >
                            <option *ngFor="let item of numbers" [ngValue]=item >{{item}}</option>
                        </select>
                    </div>
                </div>
                <div class="price">
                    <label class="center">{{printEdition.price | number:'1.2-2' | customcurrency : currency}}</label>
                </div>
                <div class="add-to-cart">
                    <button class="button" (click)="setItemToCart(printEdition)">Add to Cart</button>
                </div>

            </div>
        </div>
        <div class="bottom-block">
            <label>{{printEdition.description}}</label>
        </div>
    </div>
</div>
