.page{
    font-family: Comic Sans MS, Comic Sans, cursive;
    position: relative;
    .underheader-line{
        position: relative;
        width: max-content;
        height: 20px;
        padding: 15px 15px;
    }
    .top-block{
        width: 100%;
        height: 200px;
        .book-icon{
            float: left;
            height: 100%;
            width: 200px;
            .image{
                height: 100%;
            }
        }
        .print-title{
            float: left;
            height: 100%;
            width: 500px;
            .font{
                font-weight: 700;
            }
        }
        .buttons{
            position: fixed;
            right: 50px;
            width: 300px;
            height: 150px;
            padding: 15px 15px;
            .qty{
                float: left;
                width: 50%;
                height: 50%;
                .center{
                    position: relative;
                    top:40%;
                }
            }
            .price{
                float: right;
                font-weight: 600;
                color: darkseagreen;
                width: 50%;
                height: 50%;
                .center{
                    position: relative;
                    top:40%;
                    left: 60%;
                }
            }
            .add-to-cart{
                width: 100%;
                height: 50%;
                button{
                    width: 100%;
                    border-style: solid;
                    border-color: black;
                    background-color: rgb(136, 194, 136);
                    :disabled{
                        background-color: rgb(112, 112, 112);
                    }
                }
            }
        }
    }
    .bottom-block{
        width: auto;
        height: auto;
        padding: 15px 15px;
    }
}