<header class="header">
    <div>
        <div class="title">
            <img routerLink="/view-print" class="shop-logo" src="https://www.wpclipart.com/education/books/books_6/book_open_icon_green.png">
            <label>Publishing Company</label>
        </div>
        <div>
            <div *ngIf="userRole!=null" class="cart-logo" (click)="openDialog()">
                <img class="cart-img" src="assets/img/cart_icon.png">
                <div class="cart-count">{{countCartItems}}</div>
            </div>
                <div (click)="isMenu =! isMenu" class="user-logo">
                    <img [hidden]="userName!=null" src="assets/img/not_log-in_icon.png">
                    <img *ngIf="userName!=null" src="assets/img/user_log-in_icon.png">
                    <div *ngIf="isMenu==true">
                        <ul *ngIf="userRole=='admin'">
                            <li routerLink="/order-managment">Order managment</li>
                            <li routerLink="/users-managment">Users managment</li>
                            <li routerLink="/product-management" >Product managment</li>
                            <li routerLink="/author-management" >Authors managment</li>
                            <li routerLink="/user-profile">My Profile</li>
                            <li (click)="logOut()" routerLink="/sign-in">Log Out</li>
                        </ul>
                        <ul *ngIf="userRole=='user'">
                            <li routerLink="/user-profile">My Profile</li>
                            <li routerLink="/user-order">My Orders</li>
                            <li (click)="logOut()" routerLink="/sign-in">Log Out</li>
                        </ul>   
                    </div> 
                </div>
                <div class="log-in-status">
                    <label *ngIf="userName!=null">{{userName}}</label>
                    <a [hidden]="userName!=null" routerLink="/sign-in">Log in</a>
            </div>
        </div>
    </div>
</header>   
