.header{
    max-width: 100%;
    height: 100px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background: #d6d6d6;
    .title{
        font-size: 50px;
        float:left;
        .shop-logo{
            height: 100px;
            float:left
        }
    }
    .log-in-status{
        float: right;
        padding: 40px 10px;
    }
    .user-logo{
        float: right;
        padding: 30px 10px;
        img{
            height: 50px;
            background-color:#d6d6d6;
        }
    }
    .cart-logo{
        float: right;
        padding: 30px 10px;
        .cart-img{
            height: 50px;
            background-color:#d6d6d6 ;
        }
        .cart-count{
            position: absolute;
            top: 44px;
            right: 37px;
            font-weight: bold;
            font-size: 15px;
            input{
                width: 15px;
            }
        }
    }
}
.menu{
    height: auto;
    width: 100px;
    background-color: yellow;
}
ul{
    position: relative;
    z-index: 100;
    background-color:  #ffffff;
    color: rgb(255, 145, 0);
    border-style: solid;
    border-color: rgb(163, 107, 2);
}
li:hover{
    text-decoration: underline ;
    color: rgb(128, 128, 128);
}
