.page{
    font-family: Comic Sans MS, Comic Sans, cursive;
    width: 100%;
    height: 100%;
}
.content{
    margin: 100px 300px 0px 300px;
    height: auto;
    h2{
        margin: 0px 0px 30px 0px;
    }
    table tr:nth-child(even){
        background-color: rgb(238, 238, 238);
    }
    table{
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: auto;
        border: solid rgb(0, 0, 0);
        td{
            padding: 10px 10px;
        }
        .t-header{
            background-color: rgb(216, 216, 216);
            .id{
                width: 6%;
            }
            .time{
                width: 8%;
            }
            .product{
                width: 10%;
            }
            .title{
                width: auto;
            }
            .qty{
                width: 5%;
            }
            .amount{
                width: 5%;
            }
            .status{
                button{
                    border: solid green;
                }
                width: 10%;
            }
        }
    }
}
.pagination{
    margin: 10px 10px 0 0;
    position: absolute;
    top: auto;
    right: 100px;
    border: solid rgb(163, 163, 163);
    label:hover{
        color: rgb(0, 168, 14);
    }
}