<header-component>
</header-component>
<div class="page">
    <div class="content">
        <h2>My Orders</h2>
        <table>
            <tr class="t-header">
                <th class="order-time">Order time</th>
                <th class="payment-time">Payment time</th>
                <table>
                    <th class="product">Product</th>
                    <th class="title">Title</th>
                    <th class="qty">qty</th>
                </table>
                <th class="amount">Order amount</th>
                <th class="status">Status</th>
            </tr>
            <tr *ngFor="let order of listModel">
                <td>{{order.orderTime | date:'short'}}</td>
                <td>{{order.paymentTime | date:'short'}}</td>
                <table>
                    <tr *ngFor="let item of order.orderItemsList">
                        <td>{{item.typePrintEdit | category}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.quantity}}</td>
                    </tr>     
                </table>
                <td>{{order.amount | number:'1.2-2' | customcurrency : order.currency}}</td>
                <td>{{order.status | status}}<br><button *ngIf="order.status==1" (click)="payOrder(order)">Pay</button></td>
            </tr>
        </table>
    </div>
    <div class="pagination">
        <label *ngFor="let page of pages" (click)="pagination(page)"> {{page}} -</label>
    </div>
</div>
