<header-component>
    </header-component>
    <div class="page">
        <div class="content">
            <h2>Authors page</h2><img (click)="openAuthor()" class="add" src="assets/img/add_icon.png">
            <table>
                <tr class="t-header">
                    <th class="id">ID
                        <img (click)="requestModel.authorSorting=0" (click)="getAuthorsWithPrintEdition(requestModel)" src="assets/img/sorting_icon.png">
                    </th>
                    <th class="name">Name
                        <img (click)="requestModel.authorSorting=1" (click)="getAuthorsWithPrintEdition(requestModel)" src="assets/img/sorting_icon.png">
                    </th>
                    <th class="product">Product</th>
                    <th class="edit">___</th>
                </tr>
                <tr *ngFor="let author of authorsList">
                    <td>{{author.id}}</td>
                    <td>{{author.name}}</td>
                    <td>
                        <ul *ngFor="let print of author.products">
                            <li>{{print}}</li>
                        </ul>
                    </td>              
                    <td>
                        <img (click)="openAuthor(author.id)" src="assets/img/edit_icon.png">
                        <img (click)="removeAuthor(author)" src="assets/img/close_icon.png">
                    </td>
                </tr>
            </table>
        </div>
        <div class="pagination">
                <label *ngFor="let page of pages" (click)="pagination(page)"> {{page}} -</label><br>
            </div>
    </div>