input.ng-touched.ng-invalid {border:solid red 2px;}
.popup{
    font-family: Comic Sans MS, Comic Sans, cursive;
    height: auto;
    width: auto;
    border: solid black;
    text-align: center;
    input{
        margin: 10px 10px 10px 10px ;
        width: 250px;
    }
    button{
        margin: 50px 10px 10px 10px ;
        width: 150px;
        background-color: rgb(255, 255, 255);
        border: solid black;
    }
}