<div class="popup">
    <h2>{{titleText}}</h2>
    <input type="text" [(ngModel)]="authorModel.name" #name="ngModel" required>
    <div>
        <button (click)="close()">Cancel</button> 
        <button [disabled]="name.invalid" [hidden]="!isNewAuthor" (click)="addAuthor(authorModel.name)">Add author</button>
        <button [disabled]="name.invalid" [hidden]="isNewAuthor" (click)="editAuthor(authorModel)">Edit author</button>
    </div>
</div>