.popup{
    width: 200px;
    height: auto;
    text-align: center;
}
.ok{
    background-color: rgb(185, 228, 142);
    margin: 10px;
    float: left;
}
.cancel{
    background-color: rgb(100, 100, 100);
    color: white;
    margin: 10px;
    float: right;
}